body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: var(--color-primary);
    display: flex;
    flex-direction: column;
    padding: 15px 50px;
    width: 100%;
    height: 120px;
    position: fixed;
    z-index: 999;
}

.header-top {
    height: 25px;
    width: 100%;
}

.header-top a {
    color: white;
    margin-right: 10px;
    padding-right: 10px;
    border-right: 1px solid white;
}

.header-top a:hover {
    color: var(--color-gray);
}

.header-bottom {
    display: flex;
    justify-content: space-between;
    display: flex;
    margin-top: 15px;
    color: white;
}

.header-bottom div {
    display: inline-flex;
    align-items: center;
    /* margin-right: 10px; */
}

.mr-10 {
    margin-right: 10px;
}

.logo a {
    color: white;
    font-size: 30px;
    font-weight: 700;
    margin-right: 30px;
}

.search-bar {
    display: flex;
    justify-content: space-between;
    background-color: white;
    width: 70%;
    border-radius: 5px;
}

.search-bar input {
    width: 90%;
    padding: 5px 20px;
    outline: none;
    border: none;
}

.search-bar div {
    display: flex;
    justify-content: center;
    background-color: var(--color-primary);
    height: 90%;
    width: 10%;
    padding: 0 5px;
    margin-right: 3px;
    border-radius: 5px;
    cursor: pointer;
}

.search-bar div:hover {
    background-color: white;
    border: 2px solid var(--color-primary);
    color: var(--color-primary);
}

.header-right {
    display: flex;
}

.header-right div {
    border: 3px solid white;
    padding: 5px 20px;
    height: 100%;
    margin-right: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.header-right div:hover {
    background-color: white;
    color: var(--color-primary);
}

/* ------------------------------------------------------- BODY ------------------------------------------------------- */

.container {
    display: flex;
    margin-top: 120px;
    padding: 10px 50px;
    background-color: var(--color-background);
    height: 100%;
    width: 100%;
}

.slider {
    position: relative;
    overflow: hidden;
    height: 500px;
    border-radius: 20px;
  }
  
  .slider-container {
    display: flex;
    transition: transform 0.5s ease;
  }
  
  .slider-item {
    flex-shrink: 0;
    width: 100%;
  }

  .slider-item img {
    width: 100%;
  }
  
  .slider-nav {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: linear-gradient(180deg, rgba(5, 5, 5, 0) 0%, rgba(5, 5, 5, 0.9375) 100%);
  }

  .nav-left, .nav-right {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav-left {
    left: 0;
  }

  .nav-right {
    right: 0;
  }
  
  .slider-prev,
  .slider-next {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: rgba(255, 250, 250, 0.45);
    color: var(--color-secondary);
    font-size: 30px;
    cursor: pointer;
    transition: opacity 0.3s ease;
    width: 40px;
    height: 40px;
    border-radius: 20px;
  }

  .slider-prev {
    padding-left: 7px;
  }
  
  .slider-prev:hover,
  .slider-next:hover {
    opacity: 0.7;
  }
  
  .slider-dots {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .slider-dot {
    border: 2px solid white;
    background-color: transparent;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin: 20px 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .slider-dot.active {
    background-color: #fff;
  }

  @media (max-width: 785px) {
        .slider {
            height: 250px;
        }
    }
  @media (max-width: 500px) {
    header {
        padding: 15px 20px;
        height: 110px;
    }

    .logo a {
        display: none;
    }

    .search-bar div {
        display: none;
    }

    .slider {
        height: 133px;
    }

    .slider-prev,
    .slider-next {
        height: 20px;
        width: 20px;
        background: transparent;
        color: rgba(255, 250, 250, 0.45);
    }
    .container {
        padding: 10px 20px;
    }
}