<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart - E-Commerce</title>
    <link rel="stylesheet" href="../assets/css/main.css">
    <link rel="stylesheet" href="../assets/css/chart.css">
</head>
<body>
    <header>
        <div class="header-1">
            <div class="top-header">
                <div class="nav">
                    <a href="home.html">Home</a>
                    <a href="#">Discount</a>
                    <a href="#" style="border: none;">Category</a>
                </div>
                <div class="user">
                    <a class="user-profile" href="profile.html">User</a>
                    <a class="logo-user" href="#"><img class="logo" src="../assets/img/user.png" alt=""></a>
                </div>
            </div>
        </div>
        <div class="header-2">
            <div class="botton-header">
                <div class="title">
                    <a class="shop" href="#">Shop</a>
                    <a class="chart" href="wishlist.html" style="border: none;">Chart</a>
                </div>
                <div class="search-bar">
                    <input type="text" placeholder="search product ...">
                    <div><a href=""><img src="../assets/img/search.png" alt=""></a></div>
                </div>
            </div>
        </div>
    </header>
    <div class="container-card">
        <div class="outline">
            <div class="items-1">
                <input class="checkbox" type="checkbox">
                <p>All Product</p>
            </div>
            <div class="items-2">
                <input class="checkbox" type="checkbox">
                <div class="img-product"></div>
                <div class="data">
                    <div class="list-data">
                        <div class="list-1">Product</div>
                        <div class="list-2">IDR 300.000</div>
                        <div class="list-3">Qty : 5</div>
                    </div>
                    <div class="delete">
                        <div class="del">Delete</div>
                        <div class="silang">&#9587</div>
                    </div>
                </div>
            </div>
            <div class="items-2">
                <input class="checkbox" type="checkbox">
                <div class="img-product"></div>
                <div class="data">
                    <div class="list-data">
                        <div class="list-1">Product</div>
                        <div class="list-2">IDR 300.000</div>
                        <div class="list-3">Qty : 5</div>
                    </div>
                    <div class="delete">
                        <div class="del">Delete</div>
                        <div class="silang">&#9587</div>
                    </div>
                </div>
            </div>
            <div class="items-2">
                <input class="checkbox" type="checkbox">
                <div class="img-product"></div>
                <div class="data">
                    <div class="list-data">
                        <div class="list-1">Product</div>
                        <div class="list-2">IDR 300.000</div>
                        <div class="list-3">Qty : 5</div>
                    </div>
                    <div class="delete">
                        <div class="del">Delete</div>
                        <div class="silang">&#9587</div>
                    </div>
                </div>
            </div>
            <div class="items-3">
                <button class="btn-checkout">Checkout</button>
                <button class="btn-delete">Hapus</button>
            </div>
        </div>  
    </div>
    <div class="container">
        <div class="whislist-slide">
            <div class="whislist-2">Rekomendasi</div>
            <div class="slider">
                <button class="dot-slider"></button>
                <button class="dot-slider"></button>
                <button class="dot-slider"></button>
            </div>
        </div>
        <div>
            <div class="c-card">
                <div class="card">
                    <div class="items-card">
                        <div class="items-1">Product</div>
                        <div class="item-2">IDR 300.000</div>
                        <button class="btn-buy">Beli</button>
                        <img class="logo-love" src="../assets/img/love.png" alt="">
                    </div>
                </div>
                <div class="card">
                    <div class="items-card">
                        <div class="items-1">Product</div>
                        <div class="item-2">IDR 300.000</div>
                        <button class="btn-buy">Beli</button>
                        <img class="logo-love" src="../assets/img/love.png" alt="">
                    </div>
                </div>
                <div class="card">
                    <div class="items-card">
                        <div class="items-1">Product</div>
                        <div class="item-2">IDR 300.000</div>
                        <button class="btn-buy">Beli</button>
                        <img class="logo-love" src="../assets/img/love.png" alt="">
                    </div>
                </div>
                <div class="card">
                    <div class="items-card">
                        <div class="items-1">Product</div>
                        <div class="item-2">IDR 300.000</div>
                        <button class="btn-buy">Beli</button>
                        <img class="logo-love" src="../assets/img/love.png" alt="">
                    </div>
                </div>
            </div>
            <div class="c-card">
                <div class="card">
                    <div class="items-card">
                        <div class="items-1">Product</div>
                        <div class="item-2">IDR 300.000</div>
                        <button class="btn-buy">Beli</button>
                        <img src="../assets/img/love.png" alt="">
                    </div>
                </div>
                <div class="card">
                    <div class="items-card">
                        <div class="items-1">Product</div>
                        <div class="item-2">IDR 300.000</div>
                        <button class="btn-buy">Beli</button>
                        <img src="../assets/img/love.png" alt="">
                    </div>
                </div>
                <div class="card">
                    <div class="items-card">
                        <div class="items-1">Product</div>
                        <div class="item-2">IDR 300.000</div>
                        <button class="btn-buy">Beli</button>
                        <img src="../assets/img/love.png" alt="">
                    </div>
                </div>
                <div class="card">
                    <div class="items-card">
                        <div class="items-1">Product</div>
                        <div class="item-2">IDR 300.000</div>
                        <button class="btn-buy">Beli</button>
                        <img src="../assets/img/love.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="shop-footer">Shop</div>
        <div class="logo-footer">
            <a href="#"><img src="../assets/img/icon-fb.png" alt=""></a>
            <a href="#"><img src="../assets/img/icon-ig.png" alt=""></a>
            <a href="#"><img src="../assets/img/icon-wa.png" alt=""></a>
        </div>
        <div class="copyright">&copyCopyright 2023 Genbox Kelompok 3</div>
    </footer>
</body>
</html>