<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart - E-Commerce</title>
    <link rel="stylesheet" href="../assets/css/main.css">
    <link rel="stylesheet" href="../assets/css/chart.css">
</head>
<body>
    <header>
        <div class="header-1">
            <div class="top-header">
                <div class="nav">
                    <a href="home.html">Home</a>
                    <a href="#">Discount</a>
                    <a href="#" style="border: none;">Category</a>
                </div>
                <div class="user">
                    <a class="user-profile" href="profile.html">User</a>
                    <a class="logo-user" href="#"><img class="logo" src="../assets/img/user.png" alt=""></a>
                </div>
            </div>
        </div>
        <div class="header-2">
            <div class="botton-header">
                <div class="title">
                    <a class="shop" href="#">Shop</a>
                    <a class="chart" href="wishlist.html" style="border: none;">Chart</a>
                </div>
                <div class="search-bar">
                    <input type="text" placeholder="search whislist ...">
                    <div><a href=""><img src="../assets/img/search.png" alt=""></a></div>
                </div>
            </div>
        </div>
    </header>
</body>
</html>