<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home - E-Commerce</title>
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../assets/css/main.css" />
    <link rel="stylesheet" href="../assets/css/home.css" />
  </head>
  <body>
    <header>
      <div class="header-top">
        <a href="home.html">Home</a>
        <a href="#">Discount</a>
        <a href="#" style="border: none">Category</a>
      </div>
      <div class="header-bottom">
        <div class="logo"><a href="home.html">Shop</a></div>
        <div class="search-bar mr-10">
          <input type="text" placeholder="Search Product..." />
          <div><span class="material-icons">search</span></div>
        </div>
        <div class="header-right">
          <div>
            <span class="material-icons">shopping_cart</span>
          </div>
          <div>Login</div>
        </div>
      </div>
    </header>
    <div class="wrapper">
      <div class="slider">
        <div class="slider-container">
          <div class="slider-item">
            <img src="../assets/img/banner.png" alt="Image 1" />
          </div>
          <div class="slider-item">
            <img src="../assets/img/image-1.jpeg" alt="Image 2" />
          </div>
          <div class="slider-item">
            <img src="../assets/img/image-4.png" alt="Image 3" />
          </div>
        </div>
        <div class="nav-left">
          <button class="slider-prev"><span class="material-icons">arrow_back_ios</span></button>
        </div>
        <div class="slider-nav">
          <div class="slider-dots">
            <button class="slider-dot active"></button>
            <button class="slider-dot"></button>
            <button class="slider-dot"></button>
          </div>
        </div>
        <div class="nav-right">
          <button class="slider-next"><span class="material-icons">arrow_forward_ios</span></button>
        </div>
      </div>

      <div class="section-discount">
        <div class="head">
          <div class="title">Diskon</div>
          <div class="label">12.12</div>
          <div class="accent">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>

        <div class="swiper-container">
          <div class="swiper">
            <div class="card">
              <div class="content">
                <div class="label">12.12</div>
                <div class="content-image" style="background-image: url(/assets/img/keyboard.png);"></div>
                <div class="content-detail">
                  <div class="product-title">Nama Produk</div>
                  <div class="product-price">IDR 300.000</div>
                  <div class="product-action">
                    <button>Beli</button>
                    <svg viewBox="0 0 39 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M19.5123 33L2.96181 17.7999C-6.033 8.67979 7.18937 -8.83075 19.5123 5.33577C31.8351 -8.83075 44.9976 8.7406 36.0627 17.7999L19.5123 33Z" fill="#D9D9D9"/>
                    </svg>
                  </div>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="content">
                <div class="label">12.12</div>
                <div class="content-image"></div>
                <div class="content-detail">
                  <div class="product-title">Nama Produk 2</div>
                  <div class="product-price">IDR 300.000</div>
                  <div class="product-action">
                    <button>Beli</button>
                    <svg viewBox="0 0 39 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M19.5123 33L2.96181 17.7999C-6.033 8.67979 7.18937 -8.83075 19.5123 5.33577C31.8351 -8.83075 44.9976 8.7406 36.0627 17.7999L19.5123 33Z" fill="#D9D9D9"/>
                    </svg>
                  </div>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="content">
                <div class="label">12.12</div>
                <div class="content-image"></div>
                <div class="content-detail">
                  <div class="product-title">Nama Produk 3</div>
                  <div class="product-price">IDR 300.000</div>
                  <div class="product-action">
                    <button>Beli</button>
                    <svg viewBox="0 0 39 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M19.5123 33L2.96181 17.7999C-6.033 8.67979 7.18937 -8.83075 19.5123 5.33577C31.8351 -8.83075 44.9976 8.7406 36.0627 17.7999L19.5123 33Z" fill="red"/>
                    </svg>
                  </div>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="content">
                <div class="label">12.12</div>
                <div class="content-image"></div>
                <div class="content-detail">
                  <div class="product-title">Nama Produk 4</div>
                  <div class="product-price">IDR 300.000</div>
                  <div class="product-action">
                    <button>Beli</button>
                    <svg viewBox="0 0 39 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M19.5123 33L2.96181 17.7999C-6.033 8.67979 7.18937 -8.83075 19.5123 5.33577C31.8351 -8.83075 44.9976 8.7406 36.0627 17.7999L19.5123 33Z" fill="#D9D9D9"/>
                    </svg>
                  </div>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="content">
                <div class="label">12.12</div>
                <div class="content-image"></div>
                <div class="content-detail">
                  <div class="product-title">Nama Produk 5</div>
                  <div class="product-price">IDR 300.000</div>
                  <div class="product-action">
                    <button>Beli</button>
                    <svg viewBox="0 0 39 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M19.5123 33L2.96181 17.7999C-6.033 8.67979 7.18937 -8.83075 19.5123 5.33577C31.8351 -8.83075 44.9976 8.7406 36.0627 17.7999L19.5123 33Z" fill="#D9D9D9"/>
                    </svg>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-left">
            <button class="prev"><span class="material-icons">arrow_back_ios</span></button>
          </div>
          <div class="swiper-right">
            <button class="next"><span class="material-icons">arrow_forward_ios</span></button>
          </div>
        </div>
        
      </div>

      <div class="section-discount">
        <div class="head">
          <div class="title">Product</div>
          <div class="accent">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>

        <div class="product-container">
          <div class="card-product">
            <div class="content contents">
              <div class="content-image images"></div>
              <div class="content-detail details">
                <div class="product-title titles">Nama Produk</div>
                <div class="product-price prices">IDR 300.000</div>
                <div class="product-action actions">
                  <button>Beli</button>
                  <svg viewBox="0 0 39 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M19.5123 33L2.96181 17.7999C-6.033 8.67979 7.18937 -8.83075 19.5123 5.33577C31.8351 -8.83075 44.9976 8.7406 36.0627 17.7999L19.5123 33Z" fill="red"/>
                  </svg>
                </div>
              </div>
            </div>
          </div>
          <div class="card-product">
            <div class="content contents">
              <div class="content-image images" style="background-image: url(/assets/img/keyboard.png);"></div>
              <div class="content-detail details">
                <div class="product-title titles">Nama Produk</div>
                <div class="product-price prices">IDR 300.000</div>
                <div class="product-action actions">
                  <button>Beli</button>
                  <svg viewBox="0 0 39 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M19.5123 33L2.96181 17.7999C-6.033 8.67979 7.18937 -8.83075 19.5123 5.33577C31.8351 -8.83075 44.9976 8.7406 36.0627 17.7999L19.5123 33Z" fill="#D9D9D9"/>
                  </svg>
                </div>
              </div>
            </div>
          </div>
          <div class="card-product">
            <div class="content contents">
              <div class="content-image images"></div>
              <div class="content-detail details">
                <div class="product-title titles">Nama Produk</div>
                <div class="product-price prices">IDR 300.000</div>
                <div class="product-action actions">
                  <button>Beli</button>
                  <svg viewBox="0 0 39 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M19.5123 33L2.96181 17.7999C-6.033 8.67979 7.18937 -8.83075 19.5123 5.33577C31.8351 -8.83075 44.9976 8.7406 36.0627 17.7999L19.5123 33Z" fill="#D9D9D9"/>
                  </svg>
                </div>
              </div>
            </div>
          </div>
          <div class="card-product">
            <div class="content contents">
              <div class="content-image images"></div>
              <div class="content-detail details">
                <div class="product-title titles">Nama Produk</div>
                <div class="product-price prices">IDR 300.000</div>
                <div class="product-action actions">
                  <button>Beli</button>
                  <svg viewBox="0 0 39 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M19.5123 33L2.96181 17.7999C-6.033 8.67979 7.18937 -8.83075 19.5123 5.33577C31.8351 -8.83075 44.9976 8.7406 36.0627 17.7999L19.5123 33Z" fill="#D9D9D9"/>
                  </svg>
                </div>
              </div>
            </div>
          </div>
          <div class="card-product">
            <div class="content contents">
              <div class="content-image images"></div>
              <div class="content-detail details">
                <div class="product-title titles">Nama Produk</div>
                <div class="product-price prices">IDR 300.000</div>
                <div class="product-action actions">
                  <button>Beli</button>
                  <svg viewBox="0 0 39 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M19.5123 33L2.96181 17.7999C-6.033 8.67979 7.18937 -8.83075 19.5123 5.33577C31.8351 -8.83075 44.9976 8.7406 36.0627 17.7999L19.5123 33Z" fill="#D9D9D9"/>
                  </svg>
                </div>
              </div>
            </div>
          </div>
          <div class="card-product">
            <div class="content contents">
              <div class="content-image images"></div>
              <div class="content-detail details">
                <div class="product-title titles">Nama Produk</div>
                <div class="product-price prices">IDR 300.000</div>
                <div class="product-action actions">
                  <button>Beli</button>
                  <svg viewBox="0 0 39 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M19.5123 33L2.96181 17.7999C-6.033 8.67979 7.18937 -8.83075 19.5123 5.33577C31.8351 -8.83075 44.9976 8.7406 36.0627 17.7999L19.5123 33Z" fill="#D9D9D9"/>
                  </svg>
                </div>
              </div>
            </div>
          </div>
          <div class="card-product">
            <div class="content contents">
              <div class="content-image images"></div>
              <div class="content-detail details">
                <div class="product-title titles">Nama Produk</div>
                <div class="product-price prices">IDR 300.000</div>
                <div class="product-action actions">
                  <button>Beli</button>
                  <svg viewBox="0 0 39 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M19.5123 33L2.96181 17.7999C-6.033 8.67979 7.18937 -8.83075 19.5123 5.33577C31.8351 -8.83075 44.9976 8.7406 36.0627 17.7999L19.5123 33Z" fill="red"/>
                  </svg>
                </div>
              </div>
            </div>
          </div>
          <div class="card-product">
            <div class="content contents">
              <div class="content-image images"></div>
              <div class="content-detail details">
                <div class="product-title titles">Nama Produk</div>
                <div class="product-price prices">IDR 300.000</div>
                <div class="product-action actions">
                  <button>Beli</button>
                  <svg viewBox="0 0 39 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M19.5123 33L2.96181 17.7999C-6.033 8.67979 7.18937 -8.83075 19.5123 5.33577C31.8351 -8.83075 44.9976 8.7406 36.0627 17.7999L19.5123 33Z" fill="#D9D9D9"/>
                  </svg>
                </div>
              </div>
            </div>
          </div>
          <div class="page">
            <button><span class="material-icons">chevron_left</span></button>
            <button>1</button>
            <button>...</button>
            <button>12</button>
            <button><span class="material-icons">chevron_right</span></button>
          </div>
        </div>
      </div>
      <div class="footer">
        <div class="h1">Shop</div>
        <div class="contact-footer">
          <img src="../assets/img/icon-fb.png" alt="">
          <img src="../assets/img/icon-ig.png" alt="">
          <img src="../assets/img/icon-wa.png" alt="">
        </div>
        <div id="copyright">&copy; copyright 2023 by Team 3 Genbox</div>
      </div>
    </div>


    <script src="../assets/js/main.js"></script>
  </body>
</html>
