<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/login.css">
</head>
<body>
    <div class="container">
        <div class="login">
            <input type="text" placeholder="Username">
            <div class="line"></div>
            <input type="password" placeholder="Password">
            <button><a href="home-user.html">Login</a> </button>
        </div>
    </div>

    <div class="daftar"><p>Belum punya akun? <a href="register.html">Daftar</a></p></div>
    
</body>
</html>