<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile - E-Commerce</title>
    <link rel="stylesheet" href="../assets/css/main.css">
    <link rel="stylesheet" href="../assets/css/profile.css">
</head>
<body>

    <nav>
        <ul>
            <li><a href="#">Home</a></li>
            <div class="vertical"></div>
            <li><a href="">Discount</a></li>
            <div class="vertical"></div>
            <li><a href="wishlist.html">Category</a></li>
        </ul>
        <div class="user">User</div>
        <a class="logo-user" href="#"><img src="../assets/img/user.png" alt=""></a>
    </nav>

    <div class="c-shop">
        <div class="shop"><b>Shop</b></div>
        <div class="vertical2"></div>
        <div class="whislist">Whislish</div>
        <div class="search-box">
            <input type="text" placeholder="search whislist ...">
            <button><img src="../assets/img/search.png" alt=""></button>
        </div>
        <div></div>
        <div></div>
    </div>
    
</body>
</html>