<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register - E-Commerce</title>
    <link rel="stylesheet" href="../assets/css/main.css">
    <link rel="stylesheet" href="../assets/css/register.css">
    
</head>

<body>
    <div class="container">
        <div class="img">
            <img src="../assets/img/image-4.png" alt="">
        </div>
        
        <div class="reg">
            <h1>Daftar</h1>
            <form action="">   
            <p>Username</p>
            <input type="text" class="input-field" placeholder="Masukan Username">
            <p>Email</p>
            <input type="email" class="input-field" placeholder="Masukan Email">
            <p>Password</p>
            <input type="password" class="input-field" placeholder="Masukan Password">
            <p>Konfirmasi</p>
            <input type="password" class="input-field" placeholder="Konfirmasi Password">
            <div class="checkbox">
                <input type="checkbox" name="remember">
                I Agree
            </div>
            
            <button>Daftar</button>
            </form>
        </div>
        <div class="login"><p>Sudah punya akun? <a href="login.html">Daftar</a></p></div>
    </div> 
    
</body>
</html>