<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wishlist - E-Commerce</title>
    <link rel="stylesheet" href="../assets/css/main.css">
    <link rel="stylesheet" href="../assets/css/wishlist.css">
</head>
<body>
    <header>
        <div class="header-1">
            <div class="top-header">
                <div class="nav">
                    <a href="home.html">Home</a>
                    <a href="#">Discount</a>
                    <a href="#" style="border: none;">Category</a>
                </div>
                <div class="user">
                    <a class="user-profile" href="profile.html">User</a>
                    <a class="logo-user" href="#"><img class="logo" src="../assets/img/user.png" alt=""></a>
                </div>
            </div>
        </div>
        <div class="header-2">
            <div class="botton-header">
                <div class="title">
                    <a class="shop" href="#">Shop</a>
                    <a class="whislist" href="wishlist.html" style="border: none;">Whislist</a>
                </div>
                <div class="search-bar">
                    <input type="text" placeholder="search whislist ...">
                    <div><a href=""><img src="../assets/img/search.png" alt=""></a></div>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="whislist-slide">
            <div class="whislist-2">Whislist</div>
            <div class="slider">
                <button class="dot-slider"></button>
                <button class="dot-slider"></button>
                <button class="dot-slider"></button>
            </div>
        </div>
        <div>
            <div class="c-card">
                <div class="card">
                    <div class="items-card">
                        <div class="items-1">Product</div>
                        <div class="item-2">IDR 300.000</div>
                        <div class="product-action">
                            <button>Beli</button>
                            <svg viewBox="0 0 39 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M19.5123 33L2.96181 17.7999C-6.033 8.67979 7.18937 -8.83075 19.5123 5.33577C31.8351 -8.83075 44.9976 8.7406 36.0627 17.7999L19.5123 33Z" fill="red"/>
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="items-card">
                        <div class="items-1">Product</div>
                        <div class="item-2">IDR 300.000</div>
                        <div class="product-action">
                            <button>Beli</button>
                            <svg viewBox="0 0 39 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M19.5123 33L2.96181 17.7999C-6.033 8.67979 7.18937 -8.83075 19.5123 5.33577C31.8351 -8.83075 44.9976 8.7406 36.0627 17.7999L19.5123 33Z" fill="red"/>
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="items-card">
                        <div class="items-1">Product</div>
                        <div class="item-2">IDR 300.000</div>
                        <div class="product-action">
                            <button>Beli</button>
                            <svg viewBox="0 0 39 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M19.5123 33L2.96181 17.7999C-6.033 8.67979 7.18937 -8.83075 19.5123 5.33577C31.8351 -8.83075 44.9976 8.7406 36.0627 17.7999L19.5123 33Z" fill="red"/>
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="items-card">
                        <div class="items-1">Product</div>
                        <div class="item-2">IDR 300.000</div>
                        <div class="product-action">
                            <button>Beli</button>
                            <svg viewBox="0 0 39 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M19.5123 33L2.96181 17.7999C-6.033 8.67979 7.18937 -8.83075 19.5123 5.33577C31.8351 -8.83075 44.9976 8.7406 36.0627 17.7999L19.5123 33Z" fill="red"/>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
            <div class="c-card">
                <div class="card">
                    <div class="items-card">
                        <div class="items-1">Product</div>
                        <div class="item-2">IDR 300.000</div>
                        <div class="product-action">
                            <button>Beli</button>
                            <svg viewBox="0 0 39 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M19.5123 33L2.96181 17.7999C-6.033 8.67979 7.18937 -8.83075 19.5123 5.33577C31.8351 -8.83075 44.9976 8.7406 36.0627 17.7999L19.5123 33Z" fill="red"/>
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="items-card">
                        <div class="items-1">Product</div>
                        <div class="item-2">IDR 300.000</div>
                        <div class="product-action">
                            <button>Beli</button>
                            <svg viewBox="0 0 39 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M19.5123 33L2.96181 17.7999C-6.033 8.67979 7.18937 -8.83075 19.5123 5.33577C31.8351 -8.83075 44.9976 8.7406 36.0627 17.7999L19.5123 33Z" fill="red"/>
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="items-card">
                        <div class="items-1">Product</div>
                        <div class="item-2">IDR 300.000</div>
                        <div class="product-action">
                            <button>Beli</button>
                            <svg viewBox="0 0 39 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M19.5123 33L2.96181 17.7999C-6.033 8.67979 7.18937 -8.83075 19.5123 5.33577C31.8351 -8.83075 44.9976 8.7406 36.0627 17.7999L19.5123 33Z" fill="red"/>
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="items-card">
                        <div class="items-1">Product</div>
                        <div class="item-2">IDR 300.000</div>
                        <div class="product-action">
                            <button>Beli</button>
                            <svg viewBox="0 0 39 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M19.5123 33L2.96181 17.7999C-6.033 8.67979 7.18937 -8.83075 19.5123 5.33577C31.8351 -8.83075 44.9976 8.7406 36.0627 17.7999L19.5123 33Z" fill="red"/>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="shop-footer">Shop</div>
        <div class="logo-footer">
            <a href="#"><img src="../assets/img/icon-fb.png" alt=""></a>
            <a href="#"><img src="../assets/img/icon-ig.png" alt=""></a>
            <a href="#"><img src="../assets/img/icon-wa.png" alt=""></a>
        </div>
        <div class="copyright">&copyCopyright 2023 Genbox Kelompok 3</div>
    </footer>
</body>
</html>